/**/

/* Head */
body {
	box-sizing:border-box;
	background-color: #DEDCDE;
	font-family: 'Vollkorn SC', serif;
	margin: 0;
}

h1 , h2, h3, h4{
	margin: 0px;
}
h1 {
	height: 50%;
	text-shadow: 10px 5px 10px #090807;
}
header {
	margin: 0;
	margin-bottom:5px;
	height: 25%;
	width: 100%;
	box-sizing: border-box;
	background: radial-gradient(circle, rgba(35,63,130,1) 40%, rgba(24,34,72,1) 100%);
	color: #fff;
	text-align: center;
	font-size: 40px;
	border-bottom: 2px solid #090807;
}

hr {
	width: 50%;
	margin: auto;
}


/* Section */
.section {
	margin: 20px auto;
	width: 70%;
	background: #8A8E98;
	border-radius: 25px;
	padding: 10px;
}
.central {
	font-size: 18px;
	text-align: center;
	margin: 15px;
}
img{
	margin: auto;
	margin-bottom: 10px;
	padding: 10px;
	width:80%;
	border-bottom:  1px solid #090807;
	border-top: 1px solid #090807;
	border-radius:30px;
}
/* form */

	/* span and input */
.data_name, .data {
	display:inline-block;
}
.data {
	width:25%;
	border-bottom: 2px solid #090807;
	border-radius: 5px;
	margin: 10px;
	padding: 4px;
}
.data_name {
	letter-spacing: 3px;
	width: 35%;
	border-bottom: 1px solid #090807;
	border-radius: 4px;
	margin-right: 5px;
}



/* Buttons */
button, .simple_btn, #submit{
	width: 70%;
	background: #DEDCDE;
	padding: 6px 15px;
	border: 2px double #090807;
	border-radius: 15px;
	font-size: 26px;
	transition-duration: 0.2s;
}
	button:hover {
		background: radial-gradient(circle, rgba(35,63,130,1) 40%, rgba(24,34,72,1) 100%);
		color: white;
	}

	/* form */
	#users {
		padding: 3px 10px;
		width: 50%;
	}
	#submit{
		width:40%;
		margin-top:20px;
	}
		#users:hover {
			background: #DBC4D4;
			color: red;
		}

		.okay:hover {
			color: green;
		}

/* Footer */
.copy {
	font-size: 12px;
	margin-top: 60px;
	padding: 40px;
}
